
@media screen and (min-width: 1281px) {
  /* line 19, ../../src/scss/base/_base.scss */
  html {
    font-size: 1.125em; } }
@media screen and (min-width: 1601px) {
  /* line 25, ../../src/scss/base/_base.scss */
  html {
    font-size: 1.25em; } }
@media screen and (min-width: 1921px) {
  /* line 31, ../../src/scss/base/_base.scss */
  html {
    font-size: 1.375em; } }
@media screen and (min-width: 2560px) {
  /* line 37, ../../src/scss/base/_base.scss */
  html {
    font-size: 1.5em; } }
/* line 42, ../../src/scss/base/_base.scss */
body {
  margin: 0;
  padding: 1.5rem 0;
  /*background: #fff url('/dist/img/rhythm.png') repeat scroll 50% 0;*/ }

/* line 48, ../../src/scss/base/_base.scss */
a {
  text-decoration: none;
  color: #05d; }

/* line 56, ../../src/scss/base/_base.scss */
p,
ul,
ol,
dl,
figure,
table,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1.1875rem;
  padding-top: 0.3125rem; }
  /* line 72, ../../src/scss/base/_base.scss */
  p:first-child,
  ul:first-child,
  ol:first-child,
  dl:first-child,
  figure:first-child,
  table:first-child,
  blockquote:first-child,
  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child,
  h5:first-child,
  h6:first-child {
    margin-top: 0; }

/* line 77, ../../src/scss/base/_base.scss */
ul,
ol {
  padding-left: 1.618em; }

/* line 82, ../../src/scss/base/_base.scss */
li {
  margin: 0.75em 0 0; }
  /* line 85, ../../src/scss/base/_base.scss */
  li:first-child {
    margin-top: 0; }

/* line 90, ../../src/scss/base/_base.scss */
blockquote {
  border-left: 4px solid #ddd;
  background: #f3f3f3;
  padding: 0.75rem 1.6125rem 1.1875rem 1.6125rem;
  margin: 1.9375rem 0 1.5rem;
  overflow: hidden; }
  /* line 97, ../../src/scss/base/_base.scss */
  blockquote p {
    margin: 1.25rem 0 0;
    font-size: 1.125rem;
    line-height: 1.33333333333333; }
    /* line 102, ../../src/scss/base/_base.scss */
    blockquote p:first-child {
      margin-top: 0; }
  /* line 107, ../../src/scss/base/_base.scss */
  blockquote cite {
    float: right;
    padding-top: 0.75rem;
    max-width: 40%;
    text-align: right; }
    /* line 113, ../../src/scss/base/_base.scss */
    blockquote cite:before {
      content: "—";
      margin-right: 0.3125em; }

/* line 123, ../../src/scss/base/_base.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem; }

/* line 132, ../../src/scss/base/_base.scss */
h1 {
  font-size: 2.75rem;
  line-height: 1.09090909090909;
  padding-top: 0.5rem;
  margin-bottom: 1rem; }

/* line 139, ../../src/scss/base/_base.scss */
h2 {
  font-size: 2.125rem;
  line-height: 1.05882352941176em;
  padding-top: 1.8125rem;
  margin-bottom: 0.4375rem; }

/* line 146, ../../src/scss/base/_base.scss */
h3 {
  font-size: 1.875rem;
  line-height: 1.2;
  padding-top: 1.125rem;
  margin-bottom: 0.375rem;
  font-weight: 600; }

/* line 154, ../../src/scss/base/_base.scss */
h4 {
  font-size: 1.25rem;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  padding-top: 1rem; }

/* line 7, ../../src/scss/base/_layout.scss */
/* line 1, ../../src/scss/modules/_small.scss */
.small,
small {
  font-size: 0.875rem;
  padding-top: 0.375rem;
  margin-bottom: 0.375rem;
  line-height: 1.71428571428571em; }
  /* line 8, ../../src/scss/modules/_small.scss */
  .author + .small, .author +
  small {
    margin-top: -1.5rem; }

/* line 13, ../../src/scss/modules/_small.scss */
p.small {
  margin-bottom: 1.125rem; }
  /* line 16, ../../src/scss/modules/_small.scss */
  p.small:first-child {
    padding-top: 0;
    margin-top: -0.375rem; }

/* line 1, ../../src/scss/modules/_note.scss */
.note {
  color: #666; }

/* line 2, ../../src/scss/modules/_author.scss */
