@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Source+Sans+Pro:200,300,400,600,700,900');

/*

font-family: 'Source Sans Pro', sans-serif;
300 -> 900
font-family: 'Montserrat', sans-serif;
300 -> 900

*/

* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

body {
  background-color: #f3f3f3;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  color: #222222;
}

p {
  color: #222222;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 17px;
}

h3 {
  color: #222222;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 20px;
}
h4 {
  color: #222222;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
}

h5 {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 24px;
  letter-spacing: .45px;
}

h6 {
  color: #222222;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 22px;
}

.footer-item {
  color: #222222;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 17px;
  margin-bottom: 10px;
}

#small-goodness {
  font-size: 20px;
  margin-bottom: 5px;
}

.privacy-statement {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: .45px;
  text-align: left;
  float: left;
  margin-left: 20px;
  margin-top: 20px;
}

/*   Header Content START  */

header {
  background-color: #8D0F23;
  width: 100%;
}

.header-container {
  display: grid;
  width: 850px;
  margin: auto;
  grid-template-columns: 1fr 1fr auto 1fr;
  grid-template-rows: 145px 145px;
  grid-template-areas:
  "a b c d"
  "a x e d";
}

.header-logo {
  grid-area: b;
  background-color: none;
  align-self: end;
  justify-self: end;
  padding-right: 40px;
}
.header-tagline {
  grid-area: c;
  background-color: none;
  align-self: end;
  letter-spacing: .75px;
}
.header-subline {
  grid-area: e;
  background-color: none;
  margin-top: 10px;
  letter-spacing: .5px;
}

.header-title {
  color: white;
  line-height: 36px;
  font-size: 28px;
  font-weight: 600;
}

.header-subtitle {
  color: white;
  font-size: 22px;
  font-weight: 100;
}

/*   Header Content END  */


/*   Featured Product Content START  */

.featured-product-container {
}

.featured-product-container {
}

/*   Featured Product Content END  */



/*   Product Stage START  */
.product-stage-container {
  display: grid;
  width: 850px;
  margin: auto;
  grid-row-gap: 40px;
  grid-template-columns: 400px 50px 400px;
  grid-template-rows: repeat(3, auto);
  background-color: #f3f3f3;
  padding-top: 40px;
  margin-bottom: 40px;
}

.card-container-left, .card-container-right{
  height:100%;
  border-radius: 8px;
  flex-direction: column;
  justify-content: flex-end;
  display: flex;
}

#card-1 {
  grid-column: 1 / 2;
  grid-row: 1;
  background-color: #A4C3B2;
}
#card-2 {
  grid-column: 3 / 4;
  grid-row: 1;
  background-color: #A4C3B2;
}
#card-3 {
  grid-column: 1 / 2;
  grid-row: 2;
  background-color: #A4C3B2;
}
#card-4 {
  grid-column: 3 / 4;
  grid-row: 2;
  background-color: #A4C3B2;
}
#card-5 {
  grid-column: 1 / 2;
  grid-row: 3;
  background-color: #A4C3B2;
}
#card-6 {
  grid-column: 3 / 4;
  grid-row: 3;
  background-color: #A4C3B2;
}

/* IMAGE */
.card-image-container {
  border-radius: 8px 8px 0 0;
  width: 400px;
  height: 150px;
  overflow: hidden;
}
.card-image {
  filter: contrast(85%);
  filter: saturate(55%);
  width: 400px;
}

/* TEXT */
.callout-container {
  background-color: #ffffff;
  padding: .75em 1em;
  border-bottom: 3px solid #f3f3f3;
}

.content-container {
  background-color: #ffffff;
  padding: .75em 1em;
  flex: auto;
}

/* CTA */
.cta-container {
  height: 46px;
  width: 400px;
  text-align: center;
  line-height: 46px;
  border-radius: 0 0 8px 8px;
  background-color: #8D0F23;
}

.cta-button {
  color: #ffffff;
  text-decoration: none;
}


/* NEWSLETTER */
.newsletter-signup-container {
  background-color: #8B0E25;
  color: #ffffff;
  border-radius: 8px;
  text-align: center;
  font-size: 22px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 850px;
  margin: auto;
  margin-bottom: 80px;
}

.newsletter-padding {
  padding: 20px;
}


.email-input-fields {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.newsletter-choices {
  flex-grow: 2;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  border-top: 1px solid white;
  padding: 20px 10px;
  border-bottom: 1px solid white;
}
.choices-01 {
  flex-grow: 1;
}
.choices-02 {
  flex-grow: 1;
}

#firstName, #lastName, #emailAddress {
  border: 2px solid #ddd;
  height: 22px;
  width: 100%;
  padding: 0.4375rem 0.625rem 0.375rem;
  color: #222222;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

#firstName {
  width: 25%;
  margin: auto;
}

#lastName {
  width: 25%;
  margin: auto;
}

#emailAddress {
  width: 25%;
  margin: auto;

}

.sign-up-button {
  color: red;
}

input[type=submit] {
  color: #222222;
  background-color: #f3f3f3;
  float: right;
  border: none;
  height: 40px;
  width: auto;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-right: 20px;
  margin-top: 20px;
  padding: 0 10px;
}
input[type=checkbox] {
  color: #222222;
  background-color: #f3f3f3;
  margin-right: 5px;
}

.newsletter-checkbox {
  text-align: left;
  margin-bottom: 10px;
}

/*   Product Stage END  */
.black-footer {
  background-color: #222222;
  padding-bottom: 40px;
}

div.footer-text {
  color: white;
  font-size: 17px;
  font-weight: 400;
}
div.footer-text-right {
  color: white;
  float: right;
}

.black-footer-content {
  width: 850px;
  margin: auto;
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  white-space:nowrap;
  padding-top: 40px;
}

.footer-logo {
  height: 50px;
  width: auto;
  margin-right: 30px;
}

.footer-info {
  flex-grow: 1;
  padding-top: 10px;
}

.footer-questions {
  flex: 1;
  padding-top: 10px;

}

.talk-link {
  color: #D6676A;
}
.or-span {
  color: #D6676A;
  padding: 0 5px;
}

.talk-copyright {
  color: #555555;
}


.main-footer {
  display: flex;
  width: 850px;
  margin: auto;
  flex-direction: row;
  justify-items: center;
  padding: 20px 0;
}

.left-footer-column {
  flex-grow: 1;
  white-space: nowrap;
}
.middle-footer-column {
  flex-grow: 1;
  margin: 0 80px;
  white-space: nowrap;

}
.right-footer-column {
  flex-grow: 1;
}

hr {
  border-left: none;
  border-right: none;
  margin: 10px 0;
  border-top: 1px solid #222222;
}
.footer-container {
  background-color: #EBE9EA;
}
